# Plano de ação para analíse de dados

In [ ]:
# Carregando as bibliotecas
#!pip install .....
#!pip install pandas-profiling ---> DESCONTINUADA - Utilizar a ydata_profiling
#!pip install ydata_profiling
#!pip install sweetviz

- Importação das Bibliotecas

In [39]:
# A primeira coisa que temos que fazer é importar os pacotes que iremos utilizar.
# Obs.: Pacotes do Python são conjuntos de funcionalidades disponíveis da ferramenta.

#Pandas: Possui inúmeras funções e comandos para importar arquivos, analisar dados, tratar dados, etc.
import pandas as pd
import ydata_profiling as ydp
# from pandas_profiling import ProfileReport ---> DESCONTINUADA

#Matplotlib: Possui uma série de funções e comandos para exibição de gráficos
import matplotlib.pyplot as plt

#Seaborn: Possui uma série de funções e comandos para exibição de gráficos (Visualizações mais robustas do que o Matplotlib)
import seaborn as sns

#Numpy: Possui uma série de funções e comandos para trabalharmos com números de forma em geral(formatação, calculos, etc)
import numpy as np

#Sweetviz: Possui uma série de funções para fazer a análise exploratória (EDA)
import sweetviz as sv

# Locale: Utilizado para formatação de datas, valores, dias de acordo com a região que queremos.
import locale

# Comandos do sistema operacional
import os

#Warnings: Possui detalhes sobre os avisos e alertas que aparecem, porém podemos utiliza-lo também para que os alertas de
#futuras atualizações e metodos depreciados não sejam exibidos
import warnings
warnings.filterwarnings("ignore") 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
#pd.options.display.float_format = '{:.2f}'.format

- Carregar DataSet

In [40]:
#Comando utilizado para carregar o arquivo e armazena-lo como um DataFrame do Pandas
#Um DataFrame do Pandas é como se fosse uma planilha do Excel, onde podemos tratar linhas e colunas.

#caminho = 'C:\\Users\\Carlos\\Documents\\Python Scripts\\dados.xlsx'
#print(caminho)

# Pega o diretório corrente
caminho = os.getcwd()

# nome = 'dados.xlsx'
nome = 'clientes.csv'
caminho = caminho + '\\' + nome
print(caminho)

# df = pd.read_excel(caminho)
df = pd.read_csv(caminho)

C:\Users\Carlos\Documents\Python Scripts\Plano_de_acao\clientes.csv

In [18]:
#Comando utilizado para verificar a quantidade de linhas e colunas do arquivo
#Colunas também são chamadas de variáveis.
df.shape

(100000, 25)

In [19]:
#Comando utilizado para verificar as linhas iniciais do DataFrame
df.head()

,id_cliente,mes,idade,profissao,salario_anual,num_contas,num_cartoes,juros_emprestimo,num_emprestimos,dias_atraso,num_pagamentos_atrasados,num_verificacoes_credito,mix_credito,divida_total,taxa_uso_credito,idade_historico_credito,investimento_mensal,comportamento_pagamento,saldo_final_mes,score_credito,emprestimo_carro,emprestimo_casa,emprestimo_pessoal,emprestimo_credito,emprestimo_estudantil
0,3392,1,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,3.0,7.0,4.0,Bom,809.98,26.822620,265.0,21.46538,alto_gasto_pagamento_baixos,312.494089,Good,1,1,1,1,0
1,3392,2,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,3.0,4.0,4.0,Bom,809.98,31.944960,266.0,21.46538,baixo_gasto_pagamento_alto,284.629162,Good,1,1,1,1,0
2,3392,3,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,3.0,7.0,4.0,Bom,809.98,28.609352,267.0,21.46538,baixo_gasto_pagamento_medio,331.209863,Good,1,1,1,1,0
3,3392,4,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,5.0,4.0,4.0,Bom,809.98,31.377862,268.0,21.46538,baixo_gasto_pagamento_baixo,223.451310,Good,1,1,1,1,0
4,3392,5,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,6.0,4.0,4.0,Bom,809.98,24.797347,269.0,21.46538,alto_gasto_pagamento_medio,341.489231,Good,1,1,1,1,0

In [20]:
#Comando utilizado para verificar as linhas finais do DataFrame
df.tail()

,id_cliente,mes,idade,profissao,salario_anual,num_contas,num_cartoes,juros_emprestimo,num_emprestimos,dias_atraso,num_pagamentos_atrasados,num_verificacoes_credito,mix_credito,divida_total,taxa_uso_credito,idade_historico_credito,investimento_mensal,comportamento_pagamento,saldo_final_mes,score_credito,emprestimo_carro,emprestimo_casa,emprestimo_pessoal,emprestimo_credito,emprestimo_estudantil
99995,37932,4,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,23.0,7.0,3.0,Bom,502.38,34.663572,378.0,24.028477,alto_gasto_pagamento_alto,479.866228,Poor,1,0,0,0,1
99996,37932,5,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,18.0,7.0,3.0,Bom,502.38,40.565631,379.0,24.028477,alto_gasto_pagamento_medio,496.651610,Poor,1,0,0,0,1
99997,37932,6,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,27.0,6.0,3.0,Bom,502.38,41.255522,380.0,24.028477,alto_gasto_pagamento_alto,516.809083,Poor,1,0,0,0,1
99998,37932,7,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,20.0,6.0,3.0,Bom,502.38,33.638208,381.0,24.028477,baixo_gasto_pagamento_alto,319.164979,Standard,1,0,0,0,1
99999,37932,8,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,18.0,6.0,3.0,Bom,502.38,34.192463,382.0,24.028477,alto_gasto_pagamento_medio,393.673696,Poor,1,0,0,0,1

In [21]:
#Comando utilizado para verificar informações sobre os dados(Tipo de variáveis, Variáveis, Quantidade de registros, etc)

#Neste caso a variavel DATA_VENDA deve ser do tipo Date e a variavel VALOR do tipo Float. Precisamos tratar essas variáveis.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id_cliente                100000 non-null  int64
 1   mes                       100000 non-null  int64
 2   idade                     100000 non-null  float64
 3   profissao                 100000 non-null  object
 4   salario_anual             100000 non-null  float64
 5   num_contas                100000 non-null  float64
 6   num_cartoes               100000 non-null  float64
 7   juros_emprestimo          100000 non-null  float64
 8   num_emprestimos           100000 non-null  float64
 9   dias_atraso               100000 non-null  float64
 10  num_pagamentos_atrasados  100000 non-null  float64
 11  num_verificacoes_credito  100000 non-null  float64
 12  mix_credito               100000 non-null  object
 13  divida_total              100000 non-null  float64
 14  taxa_uso_credito          100000 non-null  float64
 15  idade_historico_credito   100000 non-null  float64
 16  investimento_mensal       100000 non-null  float64
 17  comportamento_pagamento   100000 non-null  object
 18  saldo_final_mes           100000 non-null  float64
 19  score_credito             100000 non-null  object
 20  emprestimo_carro          100000 non-null  int64
 21  emprestimo_casa           100000 non-null  int64
 22  emprestimo_pessoal        100000 non-null  int64
 23  emprestimo_credito        100000 non-null  int64
 24  emprestimo_estudantil     100000 non-null  int64
dtypes: float64(14), int64(7), object(4)
memory usage: 19.1+ MB

In [22]:
# Comando utilizado para avaliar se alguma variável possui valor nulo ou chamado de valores missing ou 
# NAN (Not Available)
df.isnull().sum()

id_cliente                  0
mes                         0
idade                       0
profissao                   0
salario_anual               0
num_contas                  0
num_cartoes                 0
juros_emprestimo            0
num_emprestimos             0
dias_atraso                 0
num_pagamentos_atrasados    0
num_verificacoes_credito    0
mix_credito                 0
divida_total                0
taxa_uso_credito            0
idade_historico_credito     0
investimento_mensal         0
comportamento_pagamento     0
saldo_final_mes             0
score_credito               0
emprestimo_carro            0
emprestimo_casa             0
emprestimo_pessoal          0
emprestimo_credito          0
emprestimo_estudantil       0
dtype: int64

In [23]:
# Comando que mostra as linhas que tem a coluna 'divida_total' nulo
valor_nulo = df[df['divida_total'].isnull()]
display(valor_nulo)

Empty DataFrame
Columns: [id_cliente, mes, idade, profissao, salario_anual, num_contas, num_cartoes, juros_emprestimo, num_emprestimos, dias_atraso, num_pagamentos_atrasados, num_verificacoes_credito, mix_credito, divida_total, taxa_uso_credito, idade_historico_credito, investimento_mensal, comportamento_pagamento, saldo_final_mes, score_credito, emprestimo_carro, emprestimo_casa, emprestimo_pessoal, emprestimo_credito, emprestimo_estudantil]
Index: []

In [41]:
# Visualizando Quantidade em percentual de valores vazios
df.shape[0]
(df.isnull().sum()/df.shape[0]).sort_values(ascending=False).head(10)

id_cliente                 0.0
divida_total               0.0
emprestimo_credito         0.0
emprestimo_pessoal         0.0
emprestimo_casa            0.0
emprestimo_carro           0.0
score_credito              0.0
saldo_final_mes            0.0
comportamento_pagamento    0.0
investimento_mensal        0.0
dtype: float64

In [24]:
# Visualizando algumas medidas estatisticas
df.describe()

,id_cliente,mes,idade,salario_anual,num_contas,num_cartoes,juros_emprestimo,num_emprestimos,dias_atraso,num_pagamentos_atrasados,num_verificacoes_credito,divida_total,taxa_uso_credito,idade_historico_credito,investimento_mensal,saldo_final_mes,emprestimo_carro,emprestimo_casa,emprestimo_pessoal,emprestimo_credito,emprestimo_estudantil
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,100000.00000
mean,25982.666640,4.500000,33.316340,50505.123449,5.368820,5.533570,14.53208,3.532880,21.08141,13.313120,5.798250,1426.220376,32.285173,221.220460,55.101315,392.697586,0.305600,0.511760,0.311040,0.31728,0.31040
std,14340.543051,2.291299,10.764812,38299.422093,2.593314,2.067098,8.74133,2.446356,14.80456,6.237166,3.867826,1155.129026,5.116875,99.680716,39.006932,201.652719,0.460663,0.499864,0.462921,0.46542,0.46266
min,1006.000000,1.000000,14.000000,7005.930000,0.000000,0.000000,1.00000,0.000000,0.00000,0.000000,0.000000,0.230000,20.000000,1.000000,0.000000,0.007760,0.000000,0.000000,0.000000,0.00000,0.00000
25%,13664.500000,2.750000,24.000000,19342.972500,3.000000,4.000000,7.00000,2.000000,10.00000,9.000000,3.000000,566.072500,28.052567,144.000000,27.959111,267.615983,0.000000,0.000000,0.000000,0.00000,0.00000
50%,25777.000000,4.500000,33.000000,36999.705000,5.000000,5.000000,13.00000,3.000000,18.00000,14.000000,5.000000,1166.155000,32.305784,219.000000,45.156550,333.865366,0.000000,1.000000,0.000000,0.00000,0.00000
75%,38385.000000,6.250000,42.000000,71683.470000,7.000000,7.000000,20.00000,5.000000,28.00000,18.000000,8.000000,1945.962500,36.496663,302.000000,71.295797,463.215683,1.000000,1.000000,1.000000,1.00000,1.00000
max,50999.000000,8.000000,56.000000,179987.280000,11.000000,11.000000,34.00000,9.000000,62.00000,25.000000,17.000000,4998.070000,50.000000,404.000000,434.191089,1183.930696,1.000000,1.000000,1.000000,1.00000,1.00000

In [25]:
# Verificando o número de valores únicos
df.nunique()

id_cliente                   12500
mes                              8
idade                           43
profissao                       15
salario_anual                12488
num_contas                      12
num_cartoes                     12
juros_emprestimo                34
num_emprestimos                 10
dias_atraso                     63
num_pagamentos_atrasados        26
num_verificacoes_credito        18
mix_credito                      3
divida_total                 12203
taxa_uso_credito            100000
idade_historico_credito        404
investimento_mensal          12261
comportamento_pagamento          6
saldo_final_mes              98494
score_credito                    3
emprestimo_carro                 2
emprestimo_casa                  2
emprestimo_pessoal               2
emprestimo_credito               2
emprestimo_estudantil            2
dtype: int64

In [28]:
# Total de valores únicos de cada variável
valores_unicos = []
for i in df.columns[0:14].tolist():
    print(i, ':', len(df[i].astype(str).value_counts()))
    valores_unicos.append(len(df[i].astype(str).value_counts()))

id_cliente : 12500
mes : 8
idade : 43
profissao : 15
salario_anual : 12488
num_contas : 12
num_cartoes : 12
juros_emprestimo : 34
num_emprestimos : 10
dias_atraso : 63
num_pagamentos_atrasados : 26
num_verificacoes_credito : 18
mix_credito : 3
divida_total : 12203

In [29]:
# Visualizando da média estatisticas das colunas
display(df['divida_total'].mean())
display(df.mean())

1426.220376

id_cliente                  25982.666640
mes                             4.500000
idade                          33.316340
salario_anual               50505.123449
num_contas                      5.368820
num_cartoes                     5.533570
juros_emprestimo               14.532080
num_emprestimos                 3.532880
dias_atraso                    21.081410
num_pagamentos_atrasados       13.313120
num_verificacoes_credito        5.798250
divida_total                 1426.220376
taxa_uso_credito               32.285173
idade_historico_credito       221.220460
investimento_mensal            55.101315
saldo_final_mes               392.697586
emprestimo_carro                0.305600
emprestimo_casa                 0.511760
emprestimo_pessoal              0.311040
emprestimo_credito              0.317280
emprestimo_estudantil           0.310400
dtype: float64

In [13]:
# Visualizando algumas mediana estatisticas das colunas
display(df['divida_total'].median())
display(df.median())

1166.155

id_cliente                  25777.000000
mes                             4.500000
idade                          33.000000
salario_anual               36999.705000
num_contas                      5.000000
num_cartoes                     5.000000
juros_emprestimo               13.000000
num_emprestimos                 3.000000
dias_atraso                    18.000000
num_pagamentos_atrasados       14.000000
num_verificacoes_credito        5.000000
divida_total                 1166.155000
taxa_uso_credito               32.305784
idade_historico_credito       219.000000
investimento_mensal            45.156550
saldo_final_mes               333.865366
emprestimo_carro                0.000000
emprestimo_casa                 1.000000
emprestimo_pessoal              0.000000
emprestimo_credito              0.000000
emprestimo_estudantil           0.000000
dtype: float64

In [ ]:
# Visualizando algumas moda estatisticas das colunas
display(df['divida_total'].mode())
display(df.mode())

0     460.46
1    1109.03
2    1151.70
3    1360.45
Name: divida_total, dtype: float64

In [42]:
# Visualizando algumas variancias estatisticas das colunas
display(df['divida_total'].var())
display(df.var())

1334323.0661218897

id_cliente                  2.056512e+08
mes                         5.250053e+00
idade                       1.158812e+02
salario_anual               1.466846e+09
num_contas                  6.725279e+00
num_cartoes                 4.272896e+00
juros_emprestimo            7.641085e+01
num_emprestimos             5.984659e+00
dias_atraso                 2.191750e+02
num_pagamentos_atrasados    3.890224e+01
num_verificacoes_credito    1.496008e+01
divida_total                1.334323e+06
taxa_uso_credito            2.618241e+01
idade_historico_credito     9.936245e+03
investimento_mensal         1.521541e+03
saldo_final_mes             4.066382e+04
emprestimo_carro            2.122108e-01
emprestimo_casa             2.498642e-01
emprestimo_pessoal          2.142963e-01
emprestimo_credito          2.166156e-01
emprestimo_estudantil       2.140540e-01
dtype: float64

In [43]:
# Visualizando algums desvio padrão estatistico das colunas
display(df['divida_total'].std())
display(df.std())

1155.129025746427

id_cliente                  14340.543051
mes                             2.291299
idade                          10.764812
salario_anual               38299.422093
num_contas                      2.593314
num_cartoes                     2.067098
juros_emprestimo                8.741330
num_emprestimos                 2.446356
dias_atraso                    14.804560
num_pagamentos_atrasados        6.237166
num_verificacoes_credito        3.867826
divida_total                 1155.129026
taxa_uso_credito                5.116875
idade_historico_credito        99.680716
investimento_mensal            39.006932
saldo_final_mes               201.652719
emprestimo_carro                0.460663
emprestimo_casa                 0.499864
emprestimo_pessoal              0.462921
emprestimo_credito              0.465420
emprestimo_estudantil           0.462660
dtype: float64

In [31]:
# Quantis
# Quantis são pontos que dividem uma distribuição de probabilidade em partições de tamanhos iguais.  
# Eles podem ser quartis (sendo o 1º quartil correspondente a 25% dos dados, 
# o segundo quartil correspondente a 50% dos dados – a mediana e o 3º quartil correspondente a 75% dos dados) 
# ou percentis (dividem a amostra em 100 partes).

# Remover valores nulos da coluna 'divida_total'
#df_sem_nulos = df.dropna(subset=['divida_total'])

# Converter a coluna 'divida_total' para números (caso ainda não esteja)
#df_sem_nulos['divida_total'] = pd.to_numeric(df_sem_nulos['divida_total'], errors='coerce')

# Calcular os quantis
Q1 = df['divida_total'].quantile(0.25)
Q2 = df['divida_total'].quantile(0.5)
Q3 = df['divida_total'].quantile(0.75)

print('Primeiro quartil ', Q1)
print('Segundo quartil (Mediana)', Q2)
print('Terceiro quartil ', Q3)

Primeiro quartil  566.0725
Segundo quartil (Mediana) 1166.155
Terceiro quartil  1945.9625

In [32]:
# Intervalo Interquartil (IQR)
# O IQR (do inglês, Interquartile Range), é a diferença entre o terceiro e primeiro quartis: IQR = Q3−Q1. 
# É uma medida de dispersão robusta muito utilizada, por exemplo, quando os dados contêm muitos outliers 
# por ser menos sensível às variações nos extremos do conjunto.
    
IQR = Q3 - Q1
print('Intervalo interquartil ', IQR)

Intervalo interquartil  1379.89

In [34]:
# Assimetria (Skewness)
# Assimetria é, na verdade, uma medida de simetria. Ela nos diz o quão simétrica é a distribuição dos dados em torno da média. 
# E junto com a curtose (kurtosis) que veremos em seguida, é uma medida muito boa para informar a aparência ou forma da 
# distribuição dos dados.

assimetria = df['divida_total'].skew()
print('Assimetria(Skewness) ', assimetria)

Assimetria(Skewness)  1.2075361955699684

In [35]:
# Curtose (Kurtosis)
# A Curtose ou achatamento também é uma medida que nos ajuda a dar forma à distribuição dos dados. 
# A curtose, diferente da assimetria, tenta capturar em uma medida a forma das caudas da distribuição.

curtose = df['divida_total'].kurtosis()
print('Curtose ', curtose)

Curtose  0.9049836897366235

In [37]:
# Verificar quantidade de registros com valor superior a 1.000
df.loc[df['divida_total'] > 1000].count()

id_cliente                  57056
mes                         57056
idade                       57056
profissao                   57056
salario_anual               57056
num_contas                  57056
num_cartoes                 57056
juros_emprestimo            57056
num_emprestimos             57056
dias_atraso                 57056
num_pagamentos_atrasados    57056
num_verificacoes_credito    57056
mix_credito                 57056
divida_total                57056
taxa_uso_credito            57056
idade_historico_credito     57056
investimento_mensal         57056
comportamento_pagamento     57056
saldo_final_mes             57056
score_credito               57056
emprestimo_carro            57056
emprestimo_casa             57056
emprestimo_pessoal          57056
emprestimo_credito          57056
emprestimo_estudantil       57056
dtype: int64

In [ ]:
# Quais são os casos com valores superiores a 1.000
df.loc[df['divida_total'] > 1000]

In [ ]:
# Aqui podemos observar a quantidade de registros por profissao
df.groupby(['profissao']).size()

In [ ]:
# Aqui podemos observar a quantidade de registros por mix_credito
df.groupby(['mix_credito']).size()

In [ ]:
# Aqui podemos observar a quantidade de registros por comportamento_pagamento
df.groupby(['comportamento_pagamento']).size()

In [ ]:
# Aqui podemos observar a quantidade de registros por cilindros
df.groupby(['score_credito']).size()

- Preparação dos dados

In [ ]:
# Remover linhas ou colunas com valores ausentes:

In [ ]:
df = df.dropna()

In [ ]:
df = df.dropna(axis='columns')

In [ ]:
# Remover valores duplicados:

In [ ]:
df = df.drop_duplicates()