In [26]:
# !pip install selenium

In [27]:
# Passo a passo

# Passo 1 - Abrir o navegador

from selenium import webdriver

navegador = webdriver.Chrome()
navegador.get("https://www.google.com/")

In [28]:
# Passo 2 - Importar a base de dados 
import pandas as pd

tabela = pd.read_excel("commodities.xlsx")

display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8   Tilápia         9.05          NaN      NaN

In [29]:
# Passo 3 - Para cada produto de nossa base
# Passo 4 - Pegar o preço atual do produto
# Passo 5 - Atualizar na base de dados 

for linha in tabela.index:
    produto = tabela.loc[linha, 'Produto']
    link = f'https://www.melhorcambio.com/{produto}-hoje'
    link = link.replace('ó', 'o').replace('á', 'a').replace('ã', 'a').replace('ç', 'c').replace('ú', 'u').replace('é', 'e')
    print(link)
    navegador.get(link)

    # Pega a cotacao do produto
    cotacao = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
    cotacao = cotacao.replace('.', '').replace(',', '.')
    cotacal = float(cotacao)
    print(cotacao)

    # Preencher o preco do milho na base de dados
    tabela.loc[linha, 'Preço Atual'] = cotacao
    
display(tabela)

https://www.melhorcambio.com/Milho-hoje
56.04
https://www.melhorcambio.com/Soja-hoje
132.90
https://www.melhorcambio.com/Boi-hoje
263.60
https://www.melhorcambio.com/Petroleo-hoje
377.80
https://www.melhorcambio.com/Algodao-hoje
398.50
https://www.melhorcambio.com/Acucar-hoje
150.31
https://www.melhorcambio.com/Cafe-hoje
1057.64
https://www.melhorcambio.com/Ouro-hoje
318.14
https://www.melhorcambio.com/Tilapia-hoje
9.45

    Produto  Preço Ideal Preço Atual  Comprar
0     Milho        85.32       56.04      NaN
1      Soja       163.59      132.90      NaN
2       Boi       282.20      263.60      NaN
3  Petróleo       424.37      377.80      NaN
4   Algodão       497.76      398.50      NaN
5    Açúcar       136.23      150.31      NaN
6      Café      1092.87     1057.64      NaN
7      Ouro       321.77      318.14      NaN
8   Tilápia         9.05        9.45      NaN

In [39]:
# Passo 6 - Decidir quais os produtos a gente vai comprar

tabela["Comprar"] = tabela["Preço Atual"] < tabela["Preço Ideal"]
display(tabela)
# Passo 7 - Exportar a base de dados atualizada

TypeError: '<' not supported between instances of 'str' and 'float'

In [37]:
display(tabela)
tabela.info

    Produto  Preço Ideal Preço Atual  Comprar
0     Milho        85.32       56.04      NaN
1      Soja       163.59      132.90      NaN
2       Boi       282.20      263.60      NaN
3  Petróleo       424.37      377.80      NaN
4   Algodão       497.76      398.50      NaN
5    Açúcar       136.23      150.31      NaN
6      Café      1092.87     1057.64      NaN
7      Ouro       321.77      318.14      NaN
8   Tilápia         9.05        9.45      NaN

<bound method DataFrame.info of     Produto  Preço Ideal Preço Atual  Comprar
0     Milho        85.32       56.04      NaN
1      Soja       163.59      132.90      NaN
2       Boi       282.20      263.60      NaN
3  Petróleo       424.37      377.80      NaN
4   Algodão       497.76      398.50      NaN
5    Açúcar       136.23      150.31      NaN
6      Café      1092.87     1057.64      NaN
7      Ouro       321.77      318.14      NaN
8   Tilápia         9.05        9.45      NaN>